include ../Mixins/FooterList

footer
    .mt-4.card
        .card-body.container
            .row
                for item in [["Areas",["New Cairo","Giza","Haram"],["#","#","#"]],["Areas",["New Cairo","Giza","Haram"],["#","#","#"]],["Areas",["New Cairo","Giza","Haram"],["#","#","#"]],["Areas",["New Cairo","Giza","Haram"],["#","#","#"]]]
                    +FooterList(item[0],item[1],item[2])
        hr
        p.mx-2.text-center Copyright 2023

script(src='../main.js')
