include ../Mixins/Card
include ../Mixins/Dropdown
include ../Mixins/TopCard
include ../Mixins/Slider
doctype html
html(data-bs-theme="light")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title nawy
    meta(name='description' content='apartment website')
    meta(name='keywords' content='apartments,website')
    meta(property='og:site_name' content='https://nawy.com')
    include links
  // nav
  body
