extend ../Landing/landing.pug

block content
    include ../../includes/Navbar
    .border.border-primary.shadow
        .container
            div.d-inline
            div.d-inline 
            div.d-inline
    
    .container
        span.h3.text-primary Compounds 
        span.h6 536 results
        .row
            for i in [1,2,3,4,5,6]
                .col-lg-4.mt-2
                    .card
                        ul.card-top-right
                            li.d-inline.bg-circle.p-1.bg-simi-black.text-center.text-white: a(href="#"): i.fa-regular.fa-heart
                            li.d-inline.bg-circle.p-1.bg-simi-black.text-center.text-white: a(href="#"): i.fa-regular.fa-heart
                            li.d-inline.bg-circle.p-1.bg-simi-black.text-center.text-white: a(href="#"): i.fa-regular.fa-heart
                        .card-top-left.bg-circle.bg-simi-black.text-center.text-white: a(href="#"): i.fa-regular.fa-heart
                        img.card-img-top(src="../../img/2.jpeg")
                        .card-body
                            .card-title.fw-bold.text-primary Mountain View ICity
                            .card-text.my-1 New Cairo, Egypt
                            .card-subtitle: p 38 Apartment | Villa | Townhouse | More
                
