mixin Card(className)
    - var classes = "col-sm-1 p-3 col-lg-6 flat-card rounded my-5 bg-" + className +"-subtle position-relative"
    a(href='#',class=classes)
      block
      .footer
        span Learn More