mixin Slider
    .swiper
        // Additional required wrapper
        .swiper-wrapper
           block
        // If we need pagination
        .swiper-pagination
        // If we need navigation buttons
        .swiper-button-prev
        .swiper-button-next
        // If we need scrollbar
        .swiper-scrollbar

