mixin TopCard(imagePath,alt)
 .wrapper.mx-2
    .logo.mb-2
          a.logo-header.img-rounded
            .logo-wrapper.rounded
                 img.img-responsive(src=imagePath, alt='logo')
    block