include ../../Mixins/FooterList

footer
    .mt-4.card
        .card-body.container
            .row
                +FooterList("Areas",["New Cairo","Giza","Haram"],["#","#","#"])
        hr
        p.mx-2 Copyright 2023
            
script(src='../../../dist/main.js')
